.delete-btn{
  background-color: white;
}

.delete-btn:disabled{
  background-color: white !important;
}

.goals-list{
  padding: 10px;
  margin: 10px 0px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 6px 6px rgba(0,0,0,0.06);
}
