.page-title {
  @media (max-width: 500px) {
    font-size: 17px;
    font-weight: 700;
  }
}

/* Employee Table Custom */
.employee-info {
  display: flex;
  align-items: center;
}

.employee-avatar {
  width: 40px;
  height: 40px;
  background: #3498db;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.employee-name{
  max-width: 130px;         /* set a fixed width */
  white-space: nowrap;      /* prevent line breaks */
  overflow: hidden;         /* hide overflowing text */
  text-overflow: ellipsis;  /* show ... at the end */
}

app-pagination-button{
  margin: 2px 0px;
}

.fa-chart-line {
  color: rgb(240, 10, 117);
  cursor: pointer;
  font-size: large;
  margin: 0px 5px;
}

.fa-chart-line:hover {
  color: rgb(163, 15, 84);
}

.fa-calendar-check {
  color: rgb(36, 0, 136);
  cursor: pointer;
  font-size: large;
  margin: 0px 5px;
}

.fa-calendar-check:hover {
  color: rgb(29, 0, 110);
}
